/**
 * Author: Eugen Mayer (http://kontextwork.de)
 * Drupal 6 to Drupal 7 conversion by iStryker
 * Copyright 2011
*/

.grouping-tag {
  margin: 5px 3px 5px 3px;
  cursor: pointer;
  background: url('../images/remove.png') white no-repeat right center;
  padding: 3px 19px 3px 3px;
  border: 1px solid grey;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  float: left;
}

.grouping-suggest-tag {
  background: url('../images/add.png') white no-repeat right;
  background-color: #c3f47f;
  margin: 5px 5px 5px 5px;
  padding: 3px 18px 3px 3px;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid grey;
  float: left;
}

.grouping-suggestion-new {
  background-color: #fcf392;
}

#grouping-widget-container .form-item {
  margin: 0px;
  padding: 0px;
  clear: both;
}

#grouping-widget-container {
  clear: both;
}

div.grouping-curtags-wrapper ~ div.form-item,
div.grouping-curtags-wrapper ~ div.form-item > div.form-item {
  margin: 0px;
  padding: 0px;
}

#grouping-widget-container.grouping-widget-input,
input.grouping-widget-input {
  width: 150px;
  float: left;
  margin: 3px 0px 3px 0px;
  padding: 0px;
  height: 16px;
}

.grouping-button-container {
  display: inline-block;
  padding: 3px 0px 0px 5px;
}

.grouping-button {
  display: inline-block;
  width: 19px;
  height: 50px;
  background: url('../images/add.png') transparent no-repeat center center;
}

.grouping-curtags-wrapper {
  background-color: #eee;
  padding: 5px 0px 10px 0px;
  display: inline-block;
  width: 100%;
}
div.grouping-curtags-wrapper label {
  padding: 0px 0px 4px 20px;
  margin-left: 5px;
  background: url('../images/tag.png') transparent no-repeat left center;
  display: block;
}

.grouping-suggestions-wrapper {
  clear: both;
  background-color: #eee;
  padding: 10px 0px 5px 0px;
  display: inline-block;
  width: 100%;
}

.grouping-suggestions-wrapper label {
  padding: 0px 0px 4px 2px;
  display: block;
}


/*#grouping-widget-container .grouping-button-container,, #grouping-widget-container .field-prefix*/
#grouping-widget-container .field-suffix {
  float: left;
}
#edit-og-group-hidden-select-wrapper {
  float: left;
}

.grouping-widget-input-wrapper #autocomplete {
  background-color: white;
}

div.grouping-widget-input-wrapper div.description {
  padding: 6px 0px 0px 0px;
}

/**
 * instead use the elements directly or a seperate grouping class or other direct addressing...
*/
.grouping-widget-input-wrapper:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*
  The following zoom: 1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
* html .grouping-widget-input-wrapper,
*:first-child+html .grouping-widget-input-wrapper {
  zoom: 1;
}

#edit-og-groups-wrapper {
  display: none;
}
